<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f77">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f77">
    <link rel="apple-touch-icon" sizes="180x180" href="/ico/180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/32.png">
    {% block extra_head %}{% endblock extra_head %}
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>
    {%- if config.generate_feeds %}{%- for feed in config.feed_filenames %}
    {%- if feed is containing('atom') %}<link rel="alternate" type="application/atom+xml" title="{{ config.title }} Atom Feed" href="{{ get_url(path=feed, trailing_slash=false, lang=lang) | safe }}" />{%- endif %}
    {%- if feed is containing('rss') %}<link rel="alternate" type="application/rss+xml" title="{{ config.title }} RSS Feed" href="{{ get_url(path=feed, trailing_slash=false, lang=lang) | safe }}" />{%- endif %}
    {%- endfor %}{%- endif %}
    {% block css %}<link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) | safe }}">{% endblock css %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>